@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}
html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
}
/* 添加一个字体样式，文件在public/Enfont.woff */
@font-face {
  font-family: "Enfont";
  src: url("/Enfont.woff") format("woff");
}
/* 隐藏滚动条同时保持滚动功能 */
.hide-scrollbar::-webkit-scrollbar {
  /* chrome 和 safari */
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Older Firefox */
}

.prose p {
  line-height: 1.5;
}
