@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}
html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
}
/* 添加一个字体样式，文件在public/Enfont.woff */
@font-face {
  font-family: "Enfont";
  src: url("/Enfont.woff") format("woff");
}
/* 隐藏滚动条同时保持滚动功能 */
.hide-scrollbar::-webkit-scrollbar {
  /* chrome 和 safari */
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Older Firefox */
}

.prose p {
  line-height: 1.5;
}

/* 定义滚动条容器 */
*::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
  height: 8px;
}

/* 定义滚动条轨道 */
*::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道背景颜色 */
  border-radius: 5px; /* 圆角 */
}

/* 定义滚动条滑块 */
*::-webkit-scrollbar-thumb {
  /* background: linear-gradient(45deg, #ff7e5f, #feb47b);  */
  background: #888; /* 滑块颜色 */

  border-radius: 5px; /* 圆角 */
}

/* 鼠标悬停时的滑块样式 */
*::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时滑块颜色 */
}
