.main {
  color: white;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  background-image: linear-gradient(-180deg, #15140F 0%, #34312C 97%);
}

.container{
  padding: 4rem;
  height: 90%;

}