.aimatedStyle {
  width: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 4rem;
  display: flex;
  white-space: nowrap;
  flex: 1;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
}